*{
    margin:0;
    padding:0;
    box-sizing:border-radius;

}


main{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color:rgb(203, 197, 189);
  
}

.confirm-box{
    width:400px;
    background:white;
    color:#2b2327;
    border-radius: 10px;
    padding: 30px 40px ;

}


.confirm-box .btn{
    background-color:#2b2327;
    color:white;
    padding:5px 10px;
    border:none;
    border: radius 5px;
    font-size:20px;
    cursor:pointer;
    height:auto;
    max-width:90%;
    width:65%;
    border-radius:40px;
   
}

.btn a{
    text-decoration:none;
    color:white;
    font-size:20px;
}

.confirm-box h2{
    font-family:"Poppins",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:45px;


}